// variables
$color1: #cdcdcd;
$color2: #a27d53;
$color3: #a27d53;
$maincolor: #818181;
$titlecolor: #000;
$whitecolor: #fff;

// default styling
body {
	background: $whitecolor;
	color: $maincolor;
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	color: $color3;
	text-decoration: none;
}

h1 a {
	color: $titlecolor;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: 1px solid $color1;
	background: $color2;
	padding: 0.3em 0.4em;
	box-shadow: inset -1px -1px 6px $color1;
}

.site {
	background: rgba($whitecolor, 0.85);
	@include outer-container;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	min-height: 100%;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}